* {
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;

    font-family:verdana, sans-serif;
    
    font-size: large;
}

header{
    background-color: #ff0000;
    padding: 10px;
    padding-bottom: 100px;

    nav {
        float: right;
        margin-top: 2em;
        margin-right: 1em;
    }

    nav ul li {
        display: inline;
        list-style: none;
        margin-left: 2em;
        text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
    }

    .logo {
        max-width: 90px;
        width: 20%;
        float:left;
        
    }

    a {
        color:rgb(147, 26, 158);
        text-decoration: none;
    }

    a:hover {
        color: rgb(202, 8, 209);
    }
}

main{
    background: black;
    display: grid;
}

.contato {
    padding: 2em;
    background: linear-gradient(to bottom, rgb(255, 0, 0) 50%, rgb(255, 255, 255) 70%, rgb(0, 0, 0) 90%);
   
    text-align: center;
}

h1{
    font-size: 20px;
    color:#ff9100
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    margin: auto;

}

form label {
    font-weight: bold;
    color: rgb(147, 26, 158);

}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

form button {
    background-color: rgb(147, 26, 158);
    color: #fff;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

form button:hover {
    background-color: rgb(202, 8, 209);
    transform: scale(1.02);
}


#name{
    background-image: url(../imagens/usuario.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.5em;
}


#email{
    background-image: url(../imagens/email.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.5em;
}

h1{
    text-align: center;
    color:rgb(147, 26, 158);
}



.meucontato{
    padding: 1em;
    text-align: center;
    color:rgb(147, 26, 158);
    
    
    p{
        padding:5px;
        padding-top: 10px;
    }

   
    a {
        padding: 5px;
        color:rgb(147, 26, 158);
        text-decoration: none;
    }

    a:hover {
        color: rgb(202, 8, 209);
    }
}


footer{
    background-color: #000000;
     
    #direitos{
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: small;
        text-align: right;
        color: white;
    }

}


